<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %} PlusTi-Pong {% endblock title %}</title>
    <!-- Favicon-->
    <link rel="icon" href="{{ asset("favicon.ico")}}" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="{{ asset("bundles/app/plugins/bootstrap/css/bootstrap.css")}}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{{ asset("bundles/app/plugins/node-waves/waves.css")}}" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="{{ asset("bundles/app/plugins/animate-css/animate.css")}}" rel="stylesheet" />

    <link href="{{ asset("bundles/app/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css")}}" rel="stylesheet" />

    <link href="{{ asset("bundles/app/plugins/waitme/waitMe.css")}}" rel="stylesheet" />

    <link href="{{ asset("bundles/app/plugins/bootstrap-select/css/bootstrap-select.css")}}" rel="stylesheet" />

    <!-- JQuery DataTable Css -->
    <link href="{{ asset("bundles/app/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css")}}" rel="stylesheet">

    <!-- Custom Css -->
    <link href="{{ asset("bundles/app/css/style.css")}}" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="{{ asset("bundles/app/css/themes/all-themes.css")}}" rel="stylesheet" />
</head>

<body class="{% block extraClass %}theme-teal{% endblock extraClass %}" style="{% block extraStyle %}{% endblock extraStyle %}">
{% block rootBody %}
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="{{ url("homepage")}}" style="font-size: 30px">PlusTi - Pong</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
            </div>
        </nav>
        <!-- #Top Bar -->
        <section>
            <!-- Left Sidebar -->
            <aside id="leftsidebar" class="sidebar">
                <!-- User Info -->
                <div class="user-info" style="background-image: url({{ asset('bundles/app/fondo2.jpg')}}); background-size: cover;">
                    <div class="image">
                        <img src="{{ asset('uploads/avatar/' ~ app.user.avatar)}}" width="48" height="48" alt="User"/>
                    </div>
                    <div class="info-container">
                        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="font-bold col-teal label bg-white" style="font-size: 150%; border-radius: 100px">{{ app.user.username}}</div>
                        </div>
                        <div class="email">
                            <div class="font-bold col-teal label bg-white" style="font-size: 100%; border-radius: 100px">{{ app.user.email}}</div>
                        </div>
                        <div class="btn-group user-helper-dropdown">
                            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"; style="background-color: #009688; border-radius: 20px";>keyboard_arrow_down</i>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);" style="color: grey"><i class="material-icons">person</i><b>Perfil</b></a></li>
                                <li role="seperator" class="divider">
                                </li>
                                <li><a href="{{ url("changeAvatar")}}" style="color: grey"><i class="material-icons">person</i><b>Cambiar avatar</b></a></li>
                                <li role="seperator" class="divider">
                                </li>
                                <li><a href="{{ url("fos_user_security_logout")}}" style="color: grey"><i class="material-icons">input</i><b>Cerrar sesión</b></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- #User Info -->
                <!-- Menu -->
                <div class="menu">
                    <ul class="list">
                        <li class="header" style="background-color: #009688; color: white">MENÚ</li>
                        <li>
                            <a href="{{ url("homepage")}}">
                                <i class="material-icons">home</i>
                                <span style="color:grey">Inicio</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url("torneo_admin_index")}}">
                                <i class="material-icons">add_box</i>
                                <span style="color:grey">Crear Torneo</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url("torneo_admin_complete_list")}}">
                                <i class="material-icons">videogame_asset</i>
                                <span style="color:grey">Torneos</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('lista_usuario') }}">
                                <i class="material-icons">people</i>
                                <span style="color:grey">Administrar Usuarios</span>
                            </a>
                        </li>
                    </ul>
                </div>

                {% if is_granted('ROLE_ADMIN') %}

                <li>
                    <a href="{{ url('lista_usuario') }}">
                        <i class="material-icons">people</i>
                        <span style="color:grey">Administrar Usuarios</span>
                    </a>
                </li>

                {% endif %}
                <!-- #Menu -->
                <!-- Footer -->
                <div class="legal">
                    <div class="copyright">
                        &copy; 2016 - 2017 <a href="javascript:void(0);">Plus Technologies</a>.
                    </div>
                    <div class="version">
                        <b>Version: </b> 1.0.5
                    </div>
                </div>
                <!-- #Footer -->
            </aside>
            <!-- #END# Left Sidebar -->
        </section>

        <section class="content">
            <div class="container-fluid">
                {% block _body %}
                <div class="block-header">
                    <h2>BLANK PAGE</h2>
                </div>
                {% endblock _body %}
            </div>
        </section>
    {% endblock rootBody %}
    <!-- Jquery Core Js -->
    <script src="{{ asset("bundles/app/plugins/jquery/jquery.min.js")}}"></script>
    <script src="{{ asset("bundles/app/plugins/jquery-datatable/jquery.dataTables.js")}}"></script>
    <script src="{{ asset("bundles/app/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js")}}"></script>
    <script src="{{ asset("bundles/app/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js")}}"></script>
    <script src="{{ asset("bundles/app/plugins/jquery-datatable/extensions/export/buttons.flash.min.js")}}"></script>
    <script src="{{ asset("bundles/app/plugins/jquery-datatable/extensions/export/jszip.min.js")}}"></script>
    <script src="{{ asset("bundles/app/plugins/jquery-datatable/extensions/export/pdfmake.min.js")}}"></script>
    <script src="{{ asset("bundles/app/plugins/jquery-datatable/extensions/export/vfs_fonts.js")}}"></script>
    <script src="{{ asset("bundles/app/plugins/jquery-datatable/extensions/export/buttons.html5.min.js")}}"></script>
    <script src="{{ asset("bundles/app/plugins/jquery-datatable/extensions/export/buttons.print.min.js")}}"></script>
    <!-- Bootstrap Core Js -->
    <script src="{{ asset("bundles/app/plugins/bootstrap/js/bootstrap.js")}}"></script>

    <!-- Select Plugin Js -->
    <script src="{{ asset("bundles/app/plugins/bootstrap-select/js/bootstrap-select.js")}}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{{ asset("bundles/app/plugins/jquery-slimscroll/jquery.slimscroll.js")}}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{{ asset("bundles/app/plugins/node-waves/waves.js")}}"></script>

    <script src="{{ asset("bundles/app/plugins/autosize/autosize.js")}}"></script>

    <script src="{{ asset("bundles/app/plugins/momentjs/moment.js")}}"></script>

    <!-- Custom Js -->
    <script src="{{ asset("bundles/app/js/admin.js")}}"></script>
    <!-- Demo Js -->
    <!-- <script src="{{ asset("bundles/app/js/demo.js")}}"></script> -->

    {% block extraJS %}
    {% endblock extraJS %}
</body>

</html>
