{% extends '::base.html.twig' %}
{% block _body %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2 style="font-size: 200%; color: teal">
                    <b>
                    Usuarios
                    </b>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">

                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="{{ path('lista_usuario') }}">Regresar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}, 'style': 'horizontal'}) }}
                {{ form_errors(form) }}
                {{ form_label(form.nombreImpresion) }}
                <div class="form-group">
                    <div class="form-line">
                        {{ form_widget(form.nombreImpresion) }}
                    </div>
                </div>

                {{ form_label(form.username) }}
                <div class="form-group">
                    <div class="form-line">
                        {{ form_widget(form.username) }}
                    </div>
                </div>

                {{ form_label(form.email) }}
                <div class="form-group">
                    <div class="form-line">
                        {{ form_widget(form.email) }}
                    </div>
                </div>

                <div class="input-group">
                    <div class="form-line">
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first) }}
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                </div>
                <div class="input-group">
                    <div class="form-line">
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="control-label">Roles:</label>
                            {{ form_widget(form.roles, {'attr': {'placeholder': 'Roles'}}) }}
                        </div>
                    </div>
                </div>
                {% form_theme form 'form_div_layout.html.twig' %}
                <div class="switch">
                    <label>
                        Inactivo
                        {{ form_widget(form.enabled) }}
                        <span class="lever"></span>
                        Activo
                    </label>
                </div>
                <br/>
                <button type="submit" class="btn bg-teal waves-effect">Guardar</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock _body %}
