{% extends 'base.html.twig' %}
{% block _body %}
{{ form_start(form) }}

{{ form_row(form.users) }}
{{ form_widget(form.save) }}
<a href="{{ path('torneo_admin_index') }}" class="btn bg-primary waves-effect" style="color: white">
    <i class="material-icons">arrow_back</i>
    <span>Regresar</span>
</a>
{{ form_end(form) }}

{% endblock _body %}
